.gradient-custom {
  /* fallback for old browsers */
  background: #f5f5f5;
}
.quantity {
  max-width: 100px;
  max-height: 30px;
}
.quantity i {
  font-size: 10px;
}
.form-select:focus {
  box-shadow: none;
}
